window_allert_node_red_config.json
[
    {
        "id": "e8f3b019cf5563ad",
        "type": "http in",
        "z": "a3d1e43acf796ed7",
        "name": "Reed Switch",
        "url": "/reed_sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "a955c3e523bc8c66",
                "55ced86c9b24a6bc"
            ]
        ]
    },
    {
        "id": "a955c3e523bc8c66",
        "type": "function",
        "z": "a3d1e43acf796ed7",
        "name": "Reed Switch Processing",
        "func": "var reedState = msg.payload.reed_state;\n\n// Convert reed state to text\nvar reedStateText = reedState === 0 ? \"closed\" : \"open\";\n\n// Send to UI\nmsg.payload = { \"reed_state\": reedStateText };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [
            [
                "5aa50e92b34ce665",
                "a7c746c3b4413345"
            ]
        ]
    },
    {
        "id": "5aa50e92b34ce665",
        "type": "ui_text",
        "z": "a3d1e43acf796ed7",
        "group": "f4e29f99.0f3a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Reed State Text",
        "label": "The window is ",
        "format": "{{msg.payload.reed_state}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "a7c746c3b4413345",
        "type": "http response",
        "z": "a3d1e43acf796ed7",
        "name": "Reed Switch Response",
        "statusCode": "200",
        "headers": {},
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "567d316ef2a08365",
        "type": "play audio",
        "z": "a3d1e43acf796ed7",
        "name": "Play Audio",
        "voice": "3",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "55ced86c9b24a6bc",
        "type": "function",
        "z": "a3d1e43acf796ed7",
        "name": "state_window_speach",
        "func": "// Hole den Zustand des Reed-Sensors\nvar reedState = msg.payload.reed_state;\n\n// Verarbeite den Zustand\nif (reedState === 1) {\n    msg.payload = \"Fennster geöffnet!\";\n} else if (reedState === 0 || reedState === undefined) {\n    msg.payload = \"Fenster geschlossen!\";\n} else {\n    msg.payload = \"Unbekannter Zustand des Fensters.\";\n}\n\n// Gebe die Nachricht zurück\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "567d316ef2a08365"
            ]
        ]
    },
    {
        "id": "b6eb0e6a4fe98821",
        "type": "http in",
        "z": "a3d1e43acf796ed7",
        "name": "Temperature Alert",
        "url": "/temp_alert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "b3bcc2808770dfd0"
            ]
        ]
    },
    {
        "id": "b3bcc2808770dfd0",
        "type": "function",
        "z": "a3d1e43acf796ed7",
        "name": "Alert Processing",
        "func": "var alert = msg.payload.alert;\n\nvar temperature = msg.payload.temperature;\n\n// Setze den Payload für die Ausgabe\nmsg.payload = \"Temperaturabfall erkannt, bitte Fenster schließen!\";\n\n//var alertStateText = \"Temperaturabfall erkannt, bitte Fenster schließen!\"\n//msg.payload = { \"alert_state\": alertStateText };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "708e09cdf76be208",
                "cf73a5bc792708b6",
                "0bb7c3743486740d"
            ]
        ]
    },
    {
        "id": "708e09cdf76be208",
        "type": "play audio",
        "z": "a3d1e43acf796ed7",
        "name": "Play Audio",
        "voice": "3",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "f98f6472ae76094b",
        "type": "http in",
        "z": "a3d1e43acf796ed7",
        "name": "Temperature Sensor",
        "url": "/temp_sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "8a750a842eb307bf"
            ]
        ]
    },
    {
        "id": "8a750a842eb307bf",
        "type": "http response",
        "z": "a3d1e43acf796ed7",
        "name": "Temperature Response",
        "statusCode": "200",
        "headers": {},
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf73a5bc792708b6",
        "type": "http response",
        "z": "a3d1e43acf796ed7",
        "name": "Alert Response",
        "statusCode": "200",
        "headers": {},
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "0bb7c3743486740d",
        "type": "ui_text",
        "z": "a3d1e43acf796ed7",
        "group": "f4e29f99.0f3a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Reed State Text",
        "label": "Warning: ",
        "format": "{{msg.payload.alert_state}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "f4e29f99.0f3a1",
        "type": "ui_group",
        "name": "Default",
        "tab": "5f9b725e.666c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f9b725e.666c4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
